@use './variables' as *;

@mixin tablet {
    @media (min-width: $tablet-width) {
      @content;
    }
  }
  
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}


@mixin body-font {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  @include tablet{
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@mixin title-font {
    font-size: 3.125rem;
    line-height: 3.5rem;
    @include tablet{
      font-size: 1.25rem;
      line-height: 1.875rem;
    }
  }