$dark-color: #315965;
$outline-color: #D3D3D3;
$accent-color: #7cc7d8;
$surface-color: #101417;
$muted-color: #c7d0d2;

$tablet-width: 48rem;
$desktop-width: 80rem;

$mobile-margin: 1rem;
$tablet-margin: 1.5rem;
$tablet-edge-margin: 2rem;
