@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  color: #fff;
  padding-top:2.5rem;
  padding-inline: $mobile-margin;

  &__title {
    display: flex;
    font-size: 2.25rem;
    @include tablet{
      font-size: 4rem;
    }
    justify-content: center;
    align-items: center;
  }

  &__title-mid {
    font-size: 3.5rem;
    @include tablet {
      font-size: 6rem;
    }
  }

  &__title-rigth {
    padding-top: 3.25rem;
    @include tablet {
      padding-top: 6rem;
    }
  }
  &__title-left {
    padding-bottom: 2.75rem;
    @include tablet {
      padding-bottom: 4.5rem;
    }
  }

  &__subtitle {
    align-self: flex-start;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    z-index: 0;
    margin: 0 auto;
    border-right: 2px solid transparent;
    transform: translateX(1.25rem);
    animation: typewriter 1s steps(13) 1.2s 1 normal both,
      blinkTextCursor 500ms steps(13) 5 normal;
    @include tablet {
      transform: translateX(6rem);
    }
  }

  &__profile-container{
    display: flex;
    margin-block:$tablet-margin;
    flex-direction: column;
    @include tablet{
      flex-direction: row;
    }
  }

  &__img {
    border-radius: 50%;
    height: 15rem;
    margin:0 auto;
    margin-bottom:$tablet-margin;
  }
  
}

.bio{
  &__title{
    @include title-font;
  }
  &__content{
    margin-block:$mobile-margin;

  }
}

/* Animation */

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 6rem;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
}
