@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  color: #fff;
  padding-top: 2.5rem;
  @include section-padding;
  &__title {
    font-weight:normal;
    display: flex;
    font-size: 2.25rem;
    @include tablet {
      font-size: 4rem;
    }
    justify-content: center;
    align-items: center;
  }

  &__title-mid {
    font-size: 3.5rem;
    @include tablet {
      font-size: 6rem;
    }
  }

  &__title-rigth {
    padding-top: 3.25rem;
    @include tablet {
      padding-top: 6rem;
    }
  }
  &__title-left {
    padding-bottom: 2.75rem;
    @include tablet {
      padding-bottom: 4.5rem;
    }
  }

  &__subtitle {
    align-self: flex-start;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    z-index: 0;
    margin: 0 auto;
    border-right: 2px solid transparent;
    transform: translateX(1.25rem);
    animation: typewriter 1s steps(13) 1.2s 1 normal both,
      blinkTextCursor 300ms steps(13) 1s 5 normal;
    @include tablet {
      transform: translateX(5rem);
    }
  }

  &__profile-container {
    display: flex;
    margin-block: $tablet-margin;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      padding-top: 4rem;
    }
  }

  &__img {
    border-radius: 50%;
    height: 15rem;
    margin: 0 auto;
    margin-bottom: $tablet-margin;
    @include tablet {
      height: 20rem;
    }
  }
}

.bio {
  @include tablet {
    padding-left: $tablet-margin;
  }
  &__title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet{
      align-items: start;
    }
    @include desktop {
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
    }
  }
  &__title {
    font-size: 1rem;
    @include tablet {
      font-size: 1.5rem;
    }
  }
  &__icons {
    flex-shrink: 0;
    margin-top: $mobile-margin;
    align-self: flex-end;
    @include desktop {
      margin-top: 0;
    }
  }
  &__icon {
    height: 1.5rem;
    &:last-child {
      margin-left: 0.5rem;
    }
    @include desktop {
      height: 2.5rem;
   
    }
    // &--resume{
    //   height: 2rem;
    //   @include desktop{
    //   height: 1rem;


    //   }
    
    // }

  }
  &__content {
    @include body-font;
    margin-block: $mobile-margin;
    text-align: justify;
    &:last-child {
      text-align: left;
    }
  }
  &__email {
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #fff;
  }
}

/* Animation */

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 6.5rem;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
}
