@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.skills {
  color: $light-color;
  margin-inline: $mobile-margin;

  &__title {
    @include title-font;
  }
  &__icons {
    padding: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem $mobile-margin;
  }
  &__frame {
    border: solid 2px $outline-color;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  &__img {
    width: 90px;
  }
  &__name {
    @include body-font;
    margin-top: 0.5rem;
  }
  &__notes {
    margin: $mobile-margin auto 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__notes-content {
    margin-block: 0.5rem;
    @include body-font;
  }
}

.svg{
  &--html{fill: "#F53C00"}
}