@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.skills {
  color: #fff;
  @include section-padding;
  &__title {
    @include title-font;
  }
  &__icons {
    padding: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include tablet{
      max-width: 52rem;
      margin: auto;
      justify-content: space-between  ;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem $mobile-margin;
    @include tablet {
      margin-inline: $tablet-margin;

    }
  }
  &__frame {
    border: solid 2px $outline-color;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  &__img {
    width: 90px;
  }
  &__name {
    @include body-font;
    margin-top: 0.5rem;
  }
  &__notes {
    margin: $mobile-margin auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__notes-content {
    @include body-font;
    margin: 0.5rem 0 $mobile-margin;
    @include tablet{
    margin-bottom: $tablet-margin;
    }
    &:last-child{
      margin-bottom: 0;
      @include tablet{
        margin-bottom:0;
        }
    }
  }
}
