@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
.article {
  &__title {
    margin-block:$mobile-margin;

  }
  &__description {
    margin-block:$mobile-margin;

  }
  &__video {
    margin-block:$mobile-margin;
    // border: 2px solid $outline-color;
    // border-radius: 0.3125rem;

    width: 100%;
    height: calc(50vw);
    display: flex;
    justify-content: center;
    @include desktop{
        
    height: 40rem;
    }
  }
}
