@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.icons{
    scale: 0.8;
    display: flex;
    justify-content: center;
    padding-block: $mobile-margin;
    flex-wrap: wrap;
    @include tablet{
        scale:1;
    };
    &__svg{
        margin-inline: $mobile-margin;
    }
    &__img{
        max-width: 5rem;
        @extend .icons__svg;
    }

}