@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.icons {
  width: 100%;

  display: flex;
  justify-content: center;
  margin-block: $mobile-margin;
  flex-wrap: wrap;
  @include tablet {
    scale: 1;
    margin-block: $tablet-margin;
  }
  &__svg {
    scale: 0.7;
    margin-inline: 0;
    @include tablet {
      scale: 1;

      margin-inline: $mobile-margin;
    }
  }
  &__img {
    max-width: 5rem;
    @extend .icons__svg;
  }
}
